<main class="container">
  <div class="glow" fxLayoutAlign="start" fxLayout="column">
    <h1 class="dm700">Security</h1>
    <div class="dm500" fxLayoutAlign="start" fxLayout="column">
      <p>
        For questions, concerns or issues with your profile, or to report another user or profile,
        please send an email to
        <a class="dm700 link" href="mailto:info@miskme.com">info@miskme.com</a>.
      </p>
      <p>
        Misk wants you to know we take the security of our applications and that of your private
        data very seriously. While it's impossible to predict any potential cyber threat to our
        infrastructure, we're working around the clock to ensure our community's data is safe.
      </p>
      <h2 class="dm700">Security Practices</h2>
      <p>
        Misk utilizes physical, procedural and electronic controls in connection with the protection
        of our systems and user data from unauthorized access. This includes regularly having our
        systems and applications reviewed for potential issues by our internal security team and, in
        the future, outside security firms.
      </p>
      <h2 class="dm700">Reporting Security Vulnerabilities</h2>
      <p>
        Misk encourages input from the security research community to help make our applications and
        user data more secure. We invite security researchers to report any possible vulnerabilities
        found to <a class="dm700 link" href="mailto:info@miskme.com">this email address</a>. We
        track the address regularly and respond to submissions within 24-48 hours. If you do not
        receive a response within the timeline, we ask that you resubmit your vulnerability report.
        For the protection of our users, we ask you to avoid sharing the details you have learned
        about any possible vulnerabilities with anyone outside Misk until we investigate and confirm
        that this vulnerability has been addressed properly. To encrypt your report, you can use the
        PGP key below.
      </p>
      <p>
        <a class="dm700 link" href="../../../assets/MiskPublicKey.asc" download
          >Download Misk's PGP key</a
        >
      </p>
      <p>
        Our bug bounty program is invitation-only. The inclusion criteria involve submitting quality
        reports and following generally accepted accountable reporting practices. Scientists who
        meet those conditions are invited to join the program. Please be aware that Misk expressly
        prohibits Denial of Service (DoS) testing or the use of automated scanning software against
        any of our applications or infrastructures.
      </p>
    </div>
  </div>
</main>
