<main class="container">
  <div class="glow" fxLayoutAlign="start" fxLayout="column">
    <h1 class="dm700">Security</h1>
    <div class="dm500" fxLayoutAlign="start" fxLayout="column">
      <p>
        For questions, concerns or issues with your profile, or to report
        another user or profile, please send an email to
        <a class="dm600 link" href="mailto:info@miskme.com">info@miskme.com</a>
      </p>
      <p>
        Misk wants you to know that we take the security of our applications and
        your private data very seriously. While it is impossible to anticipate
        every possible future cyber threat against our infrastructure, we work
        around the clock to ensure that our community's data is safe.
      </p>
      <h2 class="dm600">Security Practices</h2>
      <p>
        Misk employs physical, procedural and electronic controls in connection
        with the protection of our systems and user data from unauthorized
        access. This includes regularly having our systems and applications
        reviewed for potential issues by our internal security team and outside
        security firms.
      </p>
      <h2 class="dm600">Reporting Security Vulnerabilities</h2>
      <p>
        Misk encourages input from the security research community to help
        improve the security of our applications and user data. We invite
        security researchers to responsibly disclose any potential
        vulnerabilities uncovered to
        <a class="dm600 link" href="mailto:info@miskme.com"
          >this email address</a
        >. We regularly monitor this address and will respond to submissions
        within 24-48h. If you do not receive a response within the timeframe, we
        ask that you resubmit your vulnerability report. For the safety of our
        users, we request that you please avoid sharing the information you have
        found about any potential vulnerabilities with anyone outside of Misk,
        until we have investigated and confirmed that such vulnerability has
        been properly addressed. You may use the PGP key below to encrypt your
        report.
      </p>
      <p>
        <a class="dm600 link" href="../../../assets/MiskPublicKey.asc" download
          >Download Misk's PGP key</a
        >
      </p>
      <p>
        Misk’s bug bounty program is invite only. Criteria for inclusion
        involves submitting reports of quality and following generally
        acceptable practices for responsible reporting. Researchers who meet
        these criteria will be invited to join the program. Please be aware that
        Misk explicitly prohibits testing Denial of Service (DoS) or use of
        automated scanning tools against any of our applications or
        infrastructure.
      </p>
    </div>
  </div>
</main>
