<mat-toolbar class="navbar">
  <a href="/" class="logo-link"
    ><img
      class="nav-logo-mobile"
      width="46"
      height="46"
      src="../../assets/mobile-logo.svg"
    />
    <span class="homepage-link">Misk Home</span></a
  >
  <ul title="Main Menu" class="nav-list">
    <li class="nav-item">
      <a href="/story" class="nav-link">Who we are</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link">Contact</a>
    </li>
  </ul>
  <div class="navbar-mobile">
    <div tabindex="-1"></div>
    <div tabindex="-1"></div>
    <div data-lock="">
      <div class="navbar-mobile-menu">
        <div class="container">
          <ul class="navbar-mobile-socials">
            <li class="navbar-mobile-social">
              <a
                href="https://twitter.com/miskappofficial"
                rel="noopener nofollow"
                target="_blank"
                class="navbar-mobile-social-link"
                ><img
                  src="../assets/twitter-icon.svg"
                  alt=""
                  class="navbar-mobile-social-icon"
                />
                <span class="homepage-link">Twitter</span></a
              >
            </li>
            <li class="navbar-mobile-social">
              <a
                href="https://www.instagram.com/miskappofficial"
                rel="noopener nofollow"
                target="_blank"
                class="navbar-mobile-social-link"
                ><img
                  src="../assets/instagram-icon.svg"
                  alt=""
                  class="navbar-mobile-social-icon"
                />
                <span class="homepage-link">Instagram</span></a
              >
            </li>
            <li class="navbar-mobile-social">
              <a
                href="https://www.facebook.com/miskappofficial"
                rel="noopener nofollow"
                target="_blank"
                class="navbar-mobile-social-link"
                ><img
                  src="../assets/facebook-icon.svg"
                  alt=""
                  class="navbar-mobile-social-icon"
                />
                <span class="homepage-link">Facebook</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div tabindex="-1"></div>
  </div>
</mat-toolbar>
