.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  color: #3a3133;
  background-color: rgb(254, 238, 232);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  box-shadow: none;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin: 2rem;
}

.nav-link:hover {
  border-bottom: 2px solid #3a3133;
}

.nav-link {
  position: relative;
  padding: 1rem 0;
  font-size: 1.25rem;
  text-decoration: none;
}

a {
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.sidenav {
  width: 60vw;
  padding-top: 4rem;
}

.sidenav mat-nav-list {
  height: 100%;
}

.sidenav-item {
  padding: 1rem;
  margin-bottom: 1rem;
}

.mat-drawer-container {
  position: static;
}

.sidenav-container {
  overflow-y: auto;
  height: 100%;
}

.navbar-mobile-toggle {
  margin: 2rem;
  margin-right: 1.75rem;
}

.navbar-mobile-icon:active {
  color: #55d6be;
}

.navbar-mobile-icon {
  font-size: 3rem;
}

.navbar-mobile-link {
  color: #55d6be;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s ease, opacity 0.3s ease;
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

#fb-mobile-icon {
  margin-top: -0.2rem;
}

.navbar-mobile-socials {
  padding-top: 60vh;
  margin: auto;
  margin-bottom: 1rem;
  display: inline-block;
}

.navbar-social-item {
  vertical-align: middle;
}

.navbar-social-icon {
  padding: 0.5rem;
  vertical-align: middle;
}

.lang-link {
  padding: 0.5rem;
  font-size: 1rem;
}

.lang-link:hover {
  color: #55d6be;
}
