<div class="scroll-overlay" style="margin-bottom: 365px;">
  <main class="main-content">
    <section class="home background-glow slate">
      <app-background-rings></app-background-rings>
      <div class="overlay-content wrapper">
        <h1 class="center-content dm600">
          <img class="logo" src="../../assets/misk-logo.svg" />
          <h2 class="subtitle slate dm700">
            the first swipe-to-marry app in arabic.
          </h2>
        </h1>
      </div>
    </section>
  </main>
</div>
<app-underlay> </app-underlay>
