<div class="scroll-overlay" style="margin-bottom: 365px;">
  <main class="main-content">
    <section class="home background-glow slate">
      <div class="animation-wrapper">
        <video
          playsinline
          autoplay
          muted
          loop
          id="misk-animation"
          oncanplay="this.play()"
          onloadedmetadata="this.muted = true"
        >
          <source src="../../assets/misk-background.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="overlay-content wrapper">
        <h1 class="center-content dm600">
          <img class="logo" src="../../assets/misk-logo.svg" />
          <h2 class="subtitle slate dm700">
            the first swipe-to-marry app in arabic.
          </h2>
        </h1>
      </div>
    </section>
  </main>
</div>
<app-underlay> </app-underlay>
