<div class="scroll-overlay">
  <app-nav></app-nav>
  <main class="main-content">
    <section class="home">
      <div class="animation-wrapper">
        <video
          playsinline
          autoplay
          muted
          loop
          id="misk-animation"
          oncanplay="this.play()"
          onloadedmetadata="this.muted = true"
        >
          <source src="../../assets/misk-background.mp4" type="video/mp4" />
        </video>
      </div>
      <div
        class="overlay-content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <img class="logo" src="../../assets/misk-logo.svg" />
        <label class="subtitle"> the first swipe-to-marry app in arabic.</label>
        <label
          class="label"
          [ngClass]="labelClicked ? 'labelClicked' : 'label'"
          (click)="toggle()"
        >
          become a beta user</label
        >
        <form *ngIf="labelClicked" [@fadeInOut]>
          <div fxLayout="row">
            <mat-form-field class="email">
              <input
                [(ngModel)]="email"
                matInput
                type="email"
                autocomplete="email"
                placeholder="Email"
                name="email"
                required
              />
            </mat-form-field>
            <button class="button" mat-raised-button (click)="submit()">
              Submit
            </button>
          </div>
          <label *ngIf="thanksLabel" class="thanksLabel" [@slideUp]
            >Thanks. We'll be in touch soon.</label
          >
          <label *ngIf="errorLabel" class="errorLabel" [@slideUp]
            >Oops. Something went wrong.</label
          >
        </form>
      </div>
    </section>
  </main>
</div>
<app-underlay> </app-underlay>
