<footer class="footer no-margin">
  <div class="footer-body">
    <ul class="footer-list footer-social">
      <li>
        <a
          href="https://twitter.com/miskappofficial"
          rel="noopener nofollow"
          target="_blank"
          class="footer-link"
          ><img src="../../assets/twitter-icon.svg" class="footer-icon" />
          <span class="homepage-link">Twitter</span></a
        >
      </li>
      <li>
        <a
          href="https://www.instagram.com/miskappofficial"
          rel="noopener nofollow"
          target="_blank"
          class="footer-link"
          ><img src="../../assets/instagram-icon.svg" class="footer-icon" />
          <span class="homepage-link">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/miskappofficial"
          rel="noopener nofollow"
          target="_blank"
          class="footer-link"
          ><img src="../../assets/facebook-icon.svg" class="footer-icon" />
          <span class="homepage-link">Facebook</span></a
        >
      </li>
    </ul>
  </div>
  <div class="footer-aside">
    <span class="copyright glow dm200">© {{ currentYear }} Miskco Inc.</span>
    <ul class="footer-list footer-legal">
      <li>
        <a href="/terms" class="footer-link dm300 footer-link-legal">Terms</a>
      </li>
      <li>
        <a href="/privacy" class="footer-link dm300 footer-link-legal"
          >Privacy</a
        >
      </li>
      <li>
        <a href="/security" class="footer-link dm300 footer-link-legal"
          >Security</a
        >
      </li>
    </ul>
  </div>
</footer>
