.underlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3a3133;
}

.coming-soon {
  padding: 0 5%;
}

.coming-soon-mobile {
  padding: 4rem 0;
  text-align: center;
  display: none;
}

.coming-soon-link {
  display: block;
  max-width: 11rem;
  margin-left: auto;
  margin-right: auto;
}

.coming-soon-link img {
  width: 100%;
}

img {
  border-style: none;
}

.coming-soon-link:not(:first-child) {
  margin-top: 1.5rem;
}
