<div class="underlay">
  <section>
    <form class="form">
      <div
        class="email-wrapper"
        fxLayoutAlign="center center"
        fxLayout="row"
        fxLayout.xs="column"
      >
        <mat-form-field class="email">
          <input
            [(ngModel)]="email"
            matInput
            type="email"
            autocomplete="email"
            placeholder="Email"
            name="email"
            required
          />
        </mat-form-field>
        <button class="button" mat-raised-button (click)="submit()">
          Become a beta user
        </button>
      </div>
      <label *ngIf="thanksLabel" class="thanksLabel" [@slideUp]
        >Thanks. We'll be in touch soon.</label
      >
      <label *ngIf="errorLabel" class="errorLabel" [@slideUp]
        >Oops. Something went wrong.</label
      >
    </form>
  </section>
  <app-footer></app-footer>
  <div tabindex="-1" class="resizer" data-v-b329ee4c="">
    <object
      aria-hidden="true"
      tabindex="-1"
      type="text/html"
      data="about:blank"
    ></object>
  </div>
</div>
