<div class="cta">
  <form class="form">
    <p
      class="glow center-text section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      {{ 'signup.cta' | translate }}
    </p>
    <div
      class="email-wrapper"
      fxLayoutAlign="center center"
      fxLayout="{{ translate.currentLang === 'en' ? 'row' : 'row-reverse' }}"
      fxLayout.xs="column"
    >
      <mat-form-field class="email" [ngClass]="translate.currentLang === 'ar' ? 'ar-input' : ''">
        <input
          [ngClass]="translate.currentLang === 'en' ? 'dm500' : 'ar400'"
          [(ngModel)]="email"
          matInput
          type="email"
          autocomplete="email"
          placeholder="{{ 'email.placeholder' | translate }}"
          name="email"
          required
        />
      </mat-form-field>
      <button
        class="button background-glow slate"
        [ngClass]="translate.currentLang === 'en' ? 'dm500' : 'ar700'"
        mat-raised-button
        (click)="submit()"
      >
        {{ 'signup.button' | translate }}
      </button>
    </div>
  </form>
</div>
