.main-content {
  height: 100%;
  z-index: 3;
  position: relative;
}

.animation-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: #fceeea;
}

#misk-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  height: 30%;
  width: 30%;
  padding: 3%;
  margin-top: -5%;
}

.email {
  display: flex;
  justify-content: center;
  color: #7435b2;
}

.button {
  font-family: 'DM Sans', sans-serif;
  margin-left: 30px;
  background-color: #7435b2;
  color: white;
  max-height: 45px;
}

.label {
  color: #fc6f9e;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  text-transform: initial;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
  z-index: 999;
  transition: 1.5s;
}

.subtitle {
  color: #3a3133;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 26px;
  margin-top: -52px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.label:hover {
  cursor: pointer;
}

.labelClicked {
  transform: translate(120%, 400%) rotate(-90deg);
  transition: 1.5s;
}

.emailSubmitted {
  transform: translate(400%, 120%) rotate(-90deg);
}

input {
  font-family: 'DM Sans', sans-serif;
  color: #fc6f9e;
}

::ng-deep .mat-focused .mat-form-field-placeholder {
  font-family: 'DM Sans', sans-serif;
}

::ng-deep .mat-form-field-placeholder {
  font-family: 'DM Sans', sans-serif;
}

.thanksLabel {
  display: flex;
  justify-content: center;
  color: #7435b2;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: initial;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
}

.errorLabel {
  display: flex;
  justify-content: center;
  color: #e54b4b;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: initial;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
}

@media (min-aspect-ratio: 16/9) {
  #misk-animation {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #misk-animation {
    width: auto;
    height: 100%;
  }
}
