.main-content {
  background-color: #fffbfa;
  height: 100%;
}

.logo {
  height: 30%;
  width: 30%;
  padding: 3%;
  margin-top: -5%;
}

.email {
  display: flex;
  justify-content: center;
  color: #7435b2;
}

.button {
  font-family: 'Kayak', sans-serif;
  margin-left: 30px;
  background-color: #7435b2;
  color: white;
  max-height: 45px;
}

.label {
  color: #fc6f9e;
  font-family: 'Kayak', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: initial;
  text-decoration: underline;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
  z-index: 999;
  transition: 1.5s;
}

.label:hover {
  cursor: pointer;
}

.labelClicked {
  font-size: 22px;
  transform: translate(105%, 180%) rotate(-90deg);
  transition: 1.5s;
}

.emailSubmitted {
  transform: translate(180%, 105%) rotate(-90deg);
}

input {
  font-family: 'Kayak', sans-serif;
  color: #fc6f9e;
}

::ng-deep .mat-focused .mat-form-field-placeholder {
  font-family: 'Kayak', sans-serif;
}

::ng-deep .mat-form-field-placeholder {
  font-family: 'Kayak', sans-serif;
}

.thanksLabel {
  display: flex;
  justify-content: center;
  color: #7435b2;
  font-family: 'Kayak', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: initial;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
}

.errorLabel {
  display: flex;
  justify-content: center;
  color: #e54b4b;
  font-family: 'Kayak', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: initial;
  text-shadow: -3px 2px 2px rgba(206, 89, 55, 0);
}
