@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'destyle.css';

* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: transparent;
}

body {
  background-color: #3a3133;
  display: block;
}

.resizer[data-v-b329ee4c],
.resizer[data-v-b329ee4c] object {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
  overflow: hidden;
}

.resizer[data-v-b329ee4c] {
  border: none;
  background-color: transparent;
  opacity: 0;
}

button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.homepage-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 62em) {
  .no-margin {
    margin-top: 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    border-top: 1px solid #fceeea;
    padding-bottom: 5rem;
  }

  .footer-body {
    padding-bottom: 0;
  }

  .footer-link {
    font-size: 1.25rem;
  }

  .footer-aside {
    border: none !important;
    font-size: 1rem;
    -webkit-box-ordinal-group: 0;
    order: -1;
    font-weight: 400;
  }

  .footer-legal {
    margin-left: 3rem;
  }

  .footer-legal li {
    margin-left: 1.5rem;
  }
}

@media (min-width: 48em) {
  .navbar {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin-bottom: 5rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }

  .nav-list {
    display: block;
  }

  .nav-logo-hidden,
  .nav-logo-mobile,
  .nav-logo-desktop {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .logo {
    max-width: 20.75rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .main-content {
    margin-bottom: 20rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
  .nav-item {
    margin-left: 1rem !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .scroll-overlay {
    margin-bottom: 0px;
    padding-bottom: 25rem;
  }
}
