@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'destyle.css';

* {
  -webkit-font-smoothing: antialiased;
}

html {
  line-height: 1.4;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0ps;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #3a3133;
  display: block;
}

.main-content {
  display: block;
}

button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 75rem;
  padding-top: 3rem;
}

.home {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
}

.overlay-content {
  position: relative;
  z-index: 1;
  padding-bottom: 10rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 75rem;
}

.center-content {
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.homepage-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.center-text-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.center-text {
  align-self: center;
  font-size: 2.625rem;
  text-align: center;
}

.glow {
  color: rgb(254, 238, 232);
}

.background-glow {
  background-color: rgb(254, 238, 232);
}

.comfort {
  color: rgb(128, 0, 184);
}

.background-comfort {
  background-color: rgb(128, 0, 184);
}

.pop {
  color: rgb(255, 91, 155);
}

.background-pop {
  background-color: rgb(255, 91, 155);
}

.slate {
  color: rgb(60, 49, 51);
}

.background-slate {
  background-color: rgb(60, 49, 51);
}

.nah {
  color: #e54b4b;
}

.background-nah {
  background-color: #e54b4b;
}

.yeah {
  color: #55d6be;
}

.dm200 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
}

.dm300 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.dm400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.dm500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.dm600 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}

.dm700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.highlight-link {
  margin-top: 1rem;
  font-size: 2rem;
}

.highlight-link:hover {
  color: #55d6be;
}

@media (min-width: 62em) {
  .no-margin {
    margin-top: 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    border-top: 1px solid rgb(254, 238, 232);
    padding-bottom: 5rem;
  }

  .footer-body {
    padding-bottom: 0;
  }

  .footer-link {
    font-size: 1.25rem;
  }

  .footer-aside {
    border: none !important;
    font-size: 1rem;
    -webkit-box-ordinal-group: 0;
    order: -1;
    font-weight: 400;
  }

  .footer-legal {
    margin-left: 3rem;
  }

  .footer-legal li {
    margin-left: 1.5rem;
  }

  .mission p {
    font-size: 3rem;
    margin: 0 auto;
    line-height: 1.4;
  }

  .mission-link {
    font-size: 1rem;
  }

  .cta {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media (min-width: 48em) {
  .navbar {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    margin-bottom: 5rem;
    box-shadow: none !important;
  }

  .nav-list {
    display: block;
  }

  .navbar-mobile {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .logo {
    max-width: 20.75rem;
  }

  .subtitle {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {
  .nav-item {
    margin-left: 1rem !important;
  }
}
