<main class="main-content">
  <app-section-title [title]="title"></app-section-title>
  <div
    class="center-text-wrapper glow mission section-text-shadow"
    [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <p>
      {{ 'mission.year' | translate }}
    </p>
    <p>
      {{ 'mission.firstParagraphA' | translate }}
    </p>
    <p>
      {{ 'mission.firstParagraphB' | translate }}
    </p>

    <p>{{ 'mission.hook' | translate }}</p>
    <p>
      {{ 'mission.secondParagraph' | translate }}
    </p>
    <p>
      {{ 'mission.thirdParagraphA' | translate }}
      <span class="yeah">{{ 'mission.thirdParagraphB' | translate }}</span>
      {{ 'mission.thirdParagraphC' | translate }}
    </p>
    <p>
      {{ 'mission.conclusion' | translate }}
    </p>

    <a class="center-text glow" href="/how">
      <h3
        class="highlight-link mission-link section-text-shadow"
        [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar400'"
      >
        {{ 'mission.learnMore' | translate }}
      </h3></a
    >
  </div>
  <app-signup></app-signup>
</main>
