<main class="main-content">
  <section class="home background-glow slate title-section">
    <app-background-rings></app-background-rings>
    <div class="overlay-content wrapper">
      <h1 class="center-content dm700">
        <h2 class="slate">
          what we believe
        </h2>
      </h1>
    </div>
  </section>
  <div
    class="center-text-wrapper glow dm600 mission"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <p>
      It’s {{ currentYear }}. Your mother has just sent you photos of yet
      another Muslim doctor, engineer or lawyer who is interested in marrying
      you. You open up a Muslim dating app, hoping for more.
    </p>
    <p>
      It doesn't have to be this way.
    </p>
    <p>
      Many of the tools available to you today to meet life partners are focused
      on religion. Misk understands how important it is to your life, but we
      also know other factors are equally important to your modern, global
      sensibilities.
    </p>
    <p>
      Misk focuses on <span class="yeah">culture and shared language,</span> so
      there’s room for people of all religions, pretty much anyone who can speak
      English or Arabic. We know you want choices, and we know you’re not just
      your religion.
    </p>
    <p>
      Oh, and it’s in conversational Arabic, because who even speaks the
      standard version when they’re trying to flirt?
    </p>

    <a class="center-text glow" href="/coming-soon">
      <h3 class="highlight-link mission-link dm600">learn more</h3></a
    >
  </div>
  <div class="cta">
    <p class="glow center-text dm700">
      Get married like it's {{ currentYear }} already.
    </p>
    <app-signup></app-signup>
  </div>
</main>
