.title-section {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 12.5rem;
  padding: 0 5%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mission {
  padding: 3rem;
}

.mission-link {
  font-size: 1rem;
  padding-top: 1rem;
}

.mission p {
  font-size: 1.5rem;
  margin: 2rem auto;
  line-height: 1.18;
  text-align: center;
  line-height: 1.5em;
}

@media (min-width: 48em) {
  .mission {
    padding: 12rem;
  }

  .mission p {
    font-size: 2rem;
    width: 90%;
  }

  .mission-link {
    font-size: 1.5rem;
  }

  .cta {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .cta p {
    font-size: 2rem;
  }
}
