<main class="main-content">
  <app-section-title [title]="title"></app-section-title>
  <ol class="mission-list" fxLayout="column">
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">1. Verified Profiles</h1>
      <p class="dtbd__description">
        We like real people. We encourage all users to submit their name, education, profession,
        income and photos. We verify all this information to make sure you're building an honest
        relationship.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">2. Filters</h1>
      <p class="dtbd__description">
        We let you filter by religion, profession, family plans, income and everything in between.
        Since it's verified information, you can rest assured you're getting exactly what you're
        looking for.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">3. Priorities</h1>
      <p class="dtbd__description">
        Whether it's religion or family plans, we know you want people with similar attitudes, not
        people who fit a bunch of categories. That’s why we're the first app that allows you to
        input how important each category is to you, so you can find someone with similar
        priorities.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">4. Women Choose</h1>
      <p class="dtbd__description">
        We don't think harassment is very modern. When you get a match, it's up to the woman to
        start the conversation or give the man permission to make the first move.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">5. Astrology</h1>
      <p class="dtbd__description">
        We care what the stars have to say. You tell us your birthday, and we tell you if the stars
        align with everyone you meet.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">5. Likeable Content</h1>
      <p class="dtbd__description">
        We don't want you waiting for a match to know if someone's interested. You can like their
        content too, and we'll send them a notification that gives them the option to talk to you.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">6. Know Who Likes You</h1>
      <p class="dtbd__description">
        We tell you who likes you before you've seen their profile. Because that's how your mother
        does it.
      </p>
    </li>
    <li class="glow dm700 section-text-shadow">
      <h1 class="dtbd__title">7. Privacy</h1>
      <p class="dtbd__description">
        We know you might not be comfortable sharing your personal information with everyone. That's
        why we give you the option to hide your last name and your age.
      </p>
    </li>
  </ol>
  <img src="/images/uploads/leafillustration.svg" alt="" class="dtbd__bottom-image" />
</main>
