<main class="main-content">
  <app-section-title [title]="title"></app-section-title>
  <ol class="mission-list" fxLayout="column">
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.one.num' | translate }}</span>
        {{ 'learn-more.one.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.one.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.two.num' | translate }}</span>
        {{ 'learn-more.two.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.two.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.three.num' | translate }}</span>
        {{ 'learn-more.three.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.three.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.four.num' | translate }}</span>
        {{ 'learn-more.four.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.four.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.five.num' | translate }}</span>
        {{ 'learn-more.five.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.five.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.six.num' | translate }}</span>
        {{ 'learn-more.six.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.six.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.seven.num' | translate }}</span>
        {{ 'learn-more.seven.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.seven.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.eight.num' | translate }}</span>
        {{ 'learn-more.eight.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.eight.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.nine.num' | translate }}</span>
        {{ 'learn-more.nine.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.nine.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.ten.num' | translate }}</span>
        {{ 'learn-more.ten.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.ten.desc' | translate }}
      </p>
    </li>
    <li
      class="glow section-text-shadow"
      [ngClass]="translate.currentLang === 'en' ? 'dm700' : 'ar700'"
    >
      <h1>
        <span class="list-item-number">{{ 'learn-more.eleven.num' | translate }}</span>
        {{ 'learn-more.eleven.title' | translate }}
      </h1>
      <p>
        {{ 'learn-more.eleven.desc' | translate }}
      </p>
    </li>
  </ol>
  <app-signup></app-signup>
</main>
